apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: gcr.io/cloudside-academy/github-action-test:eb68d68
        name: nginx
        ports:
        - containerPort: 80
          name: http
